<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  </head>
  <body>
    <!-- DIseña acá tu vista -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img
          src="https://cdn.icon-icons.com/icons2/1488/PNG/512/5347-github_102542.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        <%= title %>
      </a>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <div class="col-5">
          <div class="form-group">
            <label for="JobLocation">Location</label>
            <input
              type="text"
              class="form-control"
              id="JobLocation"
              placeholder="Enter your location"
            />
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label for="JobDescription">Select a Technology</label>
            <select class="form-control" id="JobDescription">
              <option value="">Select...</option>
              <option value="angular">Angular</option>
              <option value="java">Java</option>
              <option value="javascript">Javascript</option>
              <option value="php">PHP</option>
              <option value="python">Python</option>
              <option value="react">React</option>
              <option value="ruby">Ruby</option>
              <option value="vue">Vue</option>
            </select>
          </div>
        </div>
        <div class="col d-flex align-items-center mt-3">
          <div class="btn btn-success" id="JobButton">Search</div>
        </div>
      </div>
      <div class="row mt-3" id="JobShow"></div>
    </div>

    <script type="module" src="/actions/jobs.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
